<%- include("partials/header") -%>

<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form method="POST" action="/blogs" class="ui form">
		<div class="field">
			<label>Title</label>
			<input type="text" name="Blog[title]" placeholder="Title">	
		</div>
		<div class="field">
			<label>Image url</label>
			<input type="text" name="Blog[image]" placeholder="Image">
		</div>
		<div class="field">
			<label>Start Writing</label>
			<textarea name="Blog[body]" placeholder="Blog body goes here"></textarea>
		</div>
		
		<input type="submit" class="ui blue basic button big">
		
		
		
	</form>
	
</div>


<%- include("partials/footer") -%>